.container{
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666;
      position: relative;
}
.socialIcons{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      cursor: pointer;
}