.container{
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.logo {
      font-size: 24px;
      font-weight: bold;
      color: #707070;
      text-decoration: none;
}

.linkContainer {
      display: flex;
      align-items: center;
      gap: 20px;
}

.logoutButton{
      padding: 5px;
      border:none;
      background-color: #53c28b;
      color: #333333;
      cursor: pointer;
      border-radius: 5px;
}