* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
}

.light {
  background-color: white;
  color: #4b4b4b;
}

.light input,
.light textarea {
  border: 1px solid #4b4b4b;
  color: #4b4b4b;
  background-color: transparent;
}

.dark {
  background-color: #03120d;
  color: #d3d3d3;
}

.dark input::placeholder {
  color: #d3d3d3;
}

.dark textarea::placeholder {
  color: #d3d3d3
}



.theme {
  transition: 1s all ease;
}