.container{
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
}

.logo {
      font-size: 24px;
      font-weight: bold;
      color: #d3d3d3;
      text-decoration: none;
      left: -50px;
      top:10px;
      position: relative;
}

.linkContainer {
      display: flex;
      align-items: center;
      gap: 20px;
}

.logoutButton{
      padding: 5px;
      border:none;
      background-color: #082d21;
      color: #d3d3d3;
      cursor: pointer;
      border-radius: 5px;
}